@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#learn {
    background-color: $colour-main;
    font-family: $font-main;
    font-size: 40px;
    
}

#mattel {
  background-color: rgb(183, 223, 241);
}

#mattel2 {
  background-color: rgb(208, 233, 243);
}

#mattel3 {
  background-color: rgb(177, 229, 241);
}

#mattel4 {
  background-color: rgb(194, 233, 243);
}

h2 {
  text-align: center;
  background-color: rgb(116, 198, 236);
  font-family: Satisfy;
}

ul {
  display: inline-block; 
  align-self: flex-start;

 
}

h3 {
  background-color: rgb(189, 229, 245);
}

.TimesTable {
  font-size: 16px;

  font-family: Satisfy;
}

div { 
  text-align: center; 
  
}

button {
  color: rgb(5, 24, 27);
  background-color: rgb(189, 231, 241);
  width: 80px;
  height: 40px;
  padding: 2px;
  margin: 5px;
}

img {
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: row;
  
}

.display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#dashed {
 
  width: 2000px;
}
